<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse</title>
</head>

<body>
    <main class="warehouse">
        <h1 class="warehouse__title">Склад</h1>
        <div class="warehouse__list">
            <div class="warehouse__item">
                <p class="warehouse__name">
                    Биорука
                </p>
                <p class="warehouse__price">
                    Стоимость: 5 монет
                </p>
                <div class="warehouse__count">2 шт</div>
                <button class="button-gradient warehouse__button"
                    >
                    Продать
                </button>
            </div>
            <div class="warehouse__item">
                <p class="warehouse__name">
                    Микрочип
                </p>
                <p class="warehouse__price">
                    Стоимость: 3 монет
                </p>
                <div class="warehouse__count">3 шт</div>
                <button class="button-gradient warehouse__button"
                    >
                    Продать
                </button>
            </div>
            <div class="warehouse__item center-item">
                <p class="warehouse__name">
                    Душа
                </p>
                <p class="warehouse__price">
                    Стоимость: 15 монет
                </p>
                <div class="warehouse__count">0 шт</div>
                <button class="button-gradient warehouse__button"
                    >
                    Продать
                </button>
            </div>
        </div>
    </div>

</body>

</html>