<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Section</title>
</head>

<body>
    <main class="market">
        <h1 class="market__title">
            Рынок комплектующих
        </h1>
        <div class="market__list">
            <div class="market__item">
                <div class="market__icon sprite sprite-bio-arm" ></div>
                <p class="market__name">
                    Микрочип
                </p>
                <p class="market__price">
                    Стоимость: 7 монет
                </p>
                <button class="market__button">
                    Установить
                </button>
            </div>
            <div class="market__item">
                <div class="market__icon sprite sprite-microchip" ></div>
                <p class="market__name">
                    Душа
                </p>
                <p class="market__price">
                    Стоимость: 5 монет
                </p>
                <button class="market__button">
                    Установить
                </button>
            </div>
            <div class="market__item center-item">
                <div class="sprite sprite-soul" ></div>
                <p class="market__name">
                    Биорука
                </p>
                <p class="market__price">
                    Стоимость: 25 монет
                </p>
                <button class="market__button">
                    Установить
                </button>
            </div>
        </div>
    </main>

</body>

</html>