<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production</title>
</head>

<body>
    <main class="production">
        <p class="production__heading">Производство</p>
        <div class="production__layout">
            <div class="production__main">
                <div class="production__settings">
                    <div class="production__config">
                        <div class="production__type">
                            <h3 class="production__title">Тип биоробота:</h3>
                            <div class="production__options">
                                <label class="production__option">
                                    <input type="radio" name="bioType" value="FrontEnd" class="production__input" />
                                    <span class="production__label">
                                        <span class="production__dot"></span>
                                    </span>
                                    <span class="production__text">FrontEnd</span>
                                </label>
                                <label class="production__option">
                                    <input type="radio" name="bioType" value="Design" class="production__input" />
                                    <span class="production__label">
                                        <span class="production__dot"></span>
                                    </span>
                                    <span class="production__text">Design</span>
                                </label>
                            </div>
                        </div>
                        <div class="production__stabilizer">
                            <h3 class="production__title">Стабилизатор:</h3>
                            <div class="production__options">
                                <label class="production__option">
                                    <input type="radio" name="stabilizer" value="Male" class="production__input" />
                                    <span class="production__label">
                                        <span class="production__dot"></span>
                                    </span>
                                    <span class="production__text">Male</span>
                                </label>
                                <label class="production__option">
                                    <input type="radio" name="stabilizer" value="Female" class="production__input" />
                                    <span class="production__label">
                                        <span class="production__dot"></span>
                                    </span>
                                    <span class="production__text">Female</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="production__parts">
                        <div class="production__part">
                            <div class="production__sprite bg-Group_18"></div>
                        </div>
                        <div class="production__part">
                            <div class="production__sprite bg-Group_18"></div>
                        </div>
                        <div class="production__part">
                            <div class="production__sprite bg-Subtract"></div>
                        </div>
                        <div class="production__part">
                            <div class="production__sprite bg-Subtract_1"></div>
                        </div>
                        <div class="production__part">
                            <div class="production__sprite bg-Subtract_2"></div>
                        </div>
                        <div class="production__part">
                            <div class="production__sprite bg-Vector"></div>
                        </div>
                        <div class="production__part">
                            <div class="production__sprite bg-Vector"></div>
                        </div>
                        <div class="production__part">
                            <div class="production__sprite bg-Vector_1"></div>
                        </div>

                        <div class="production__part">
                            <div class="production__sprite bg-Vector_4"></div>
                        </div>
                    </div>
                </div>
                <div class="production__actions">
                    <button class="production__button">Произвести за 10 монет</button>
                    <p class="production__note">Для производства биоробота не хватает 2 биоруки,
                        3 микрочипа и 1 души</p>
                </div>
            </div>
            <div class="production__preview"></div>
        </div>
    </main>
</body>

</html>