<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Section</title>
</head>

<body>
    <section class="hero">
        <div class="hero__content">
            <div class="hero__heading">
                <h1 class="hero__title">Фарбика по производству биороботов</h1>
            </div>
            <span class="hero__subtitle">класса «монитор-кресло»</span>
        </div>
        <img class="hero__img" src="../../public/images/HeroRobots.png" alt="">
    </section>
</body>

</html>